*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Geist', sans-serif;
    color: #fff;
    background-color: #0a1236;
    line-height: 1.5;
}

/* Header Section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #fff;
  padding: 10px 20px;
  height: 65px;
  border-radius: 10px;
  margin:20px 100px;
}
.nav-menu a{
  color:#091334;
  font-weight: 400;
}
.navbar .logo{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #091334;;
}
.navbar .logo span{
  align-self: flex-end;
   font-size: 1.2rem;
}
.navbar .logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap:30px;
}
header a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
} 
.get-started{
   background: linear-gradient(to left, #1946A3, #2762EC); 
   display: inline-block;
   padding: 2px 10px;
   border-radius: 5px;
}
.get-started a{
  font-weight:400;
  font-size: 0.8rem;
}



/* Hero Section */
.hero {
  background:radial-gradient(to left, #1946A3,#2762EC) ;
  display: flex;
  justify-content:space-around; 
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  height:80vh;
  width:100%;
}
.hero-text{
  display: flex;
  flex-direction: column;
  width:700px;  
}
.hero-text h1{
  font-size: 4rem;
  line-height: 1.15;
}
.hero-image img{
  width:500px;
  height:550px;
  max-width: 100%;
  height: auto;
}

.hero-text a{
  width:fit-content;
  background-color: transparent;
  border:solid 1px #2e66ff;
}
.hero-text a:hover{
  background:linear-gradient(to left, #1946A3, #2762EC);
  border: none;
}
.learn-more{
  background: linear-gradient(to left, #1946A3, #2762EC); 
   display: inline-block;
   padding: 2px 10px;
   border-radius: 5px;
}
.hero-buttons{
  display: flex;
  gap: 20px;
}
.get-started-hero{
   border: solid 1px linear-gradient(to left, #1946A3, #2762EC); 
   display: inline-block;
   padding: 2px 10px;
   border-radius: 5px;
}
/* Values Section */
.values{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:500px;
}
h2 {
      color: white;
      font-size: 32px;
      margin-bottom: 10px;
      text-align: center;
    }

    .underline {
      width: 60px;
      height: 3px;
      background-color: #2e66ff;
      margin: 0 auto 40px auto;
    }

    .values-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .value-card {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 12px;
      padding: 25px 20px;
      width: 300px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      text-align: left;
    }

    .icons img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-bottom: 10px;
    }

    .title {
      color:#0a1236;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .description {
      font-size: 15px;
      color: #333;
    }


/* Projects Section */

.projects-section {
  display:flex;
  flex-direction: column;
  padding: 60px 20px;
  text-align: center;
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('codes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  height: 700px;
}

.projects-section h2 {
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}
.project{
  width:90px;

}

.project-card {
  display: flex;
  width:100%;
  height:100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content:center;
}


.project-text {
  max-width: 400px;
  flex: 1;
}

.project-text h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: left;
}

.project-text p {
  font-size: 16px;
  line-height: 1.5;
  color: #c9c9c9;
  text-align:left;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  width:100%;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #2e66ff; 
}
.btn:hover{
  background:linear-gradient(to left, #1946A3, #2762EC);
  border: none;
}

.project-cards-carousel {
  display: flex;
  flex-direction: column;
  align-self:center;
  gap:40px;
  justify-content:center;
  width: 700px;
  height:100%;
}

.project-card-images {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; 
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;

}

.project-card-images::-webkit-scrollbar {
  display: none;
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin-right: 10px;
  border: 2px solid #1e4bff;
  background-color: black;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

/* When card is active (selected by dot) */
.active-card {
  transform: scale(1.2);
  z-index: 1;
}

/* Picha zako */
.project1 {
  background-image: url('api.jpg');
  background-size: cover;
  background-position: center;
}

.project2 {
  background-image: url('mobile.jpg');
  background-size: cover;
  background-position: center;
}

.project3 {
  background-image: url('code.jpg');
  background-size: cover;
  background-position: center;
}

/* Dots */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #ccc;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: #1e4bff;
}


/* Services section */
.what-we-do{
  background-color: #ffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #091334;
  height:500px;
}
.services-slider{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.services-text-content{
  max-width: 400px;
}
.services-text-content h1{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.services-text-content p{
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
}
.loren{
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}
.loren img{
  width: 250px;
  height: 200px;
  object-fit: cover;
  opacity: 0.3;
  border-radius: 20px;
  transition: 0.4s ease;
  
}
.loren img.active{
  width: 400px;
  height: 300px;
  opacity: 1;
  z-index: 2;
}
.loren img.side{
  width: 100px;
  height: 250px;
  opacity: 0.2;
}
.dots{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot{
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50px;
  display: inline-block;
}
.dot.active{
  background-color: #0b2461;
}

.icon{
  position: absolute;
  bottom: 10px;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.loren{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}

.loren img{
  width: 100px;
  opacity: 0.5;
  transition: all 0.5s ease;
  transform: scale(0.8);
  border-radius: 10px;
}
.loren img.active{
  width: 300px;
  opacity: 1;
  transform: scale(1);
}

.icon{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.dots{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot{
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50px;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active{
  background-color: rgb(1, 3, 3, 0.959);
  margin-bottom: 50px;
}


/* Clients section */
.clients{
  background-color: #0c1e4a;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
  height:250px;
}
.clients h2{
  color: white;
  font-weight: bold;
}
.client{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width:70%;
  overflow: hidden;
}
.client img{
height: 50px;
}

/* footer */
footer{
  background:linear-gradient(hsl(229, 69%, 13%),hsl(228, 66%, 22%),hsl(228, 87%, 39%) );
  height:400px;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .container{
  display:flex;
  align-items:flex-start;
  margin-top: 50px;
  justify-content: space-around;
  width:100%;
}
/* .about-footer{
  display: flex;
  align-items: flex-end;
} */
/* .about-footer img {
  height: 100px;
  margin-right: 10px;
  align-self: flex-start;
} */  
/* .about-footer span{
  font-size: 1.5rem;
} */
.about p{
  font-weight: 100;
  color: rgb(208, 207, 207);
}


.about, .quick-links, .services, .contact-us{
  max-width: 400px;
  max-height:400px;
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  flex-direction: column;
  padding:10;
}

footer a{
  text-decoration: none;
  color: rgb(234, 234, 234);
  font-weight:100;
}
footer ul{
  list-style: none;
}
footer p{
  color: rgb(234, 234, 234);
  font-weight:100;
}
.contact-us{
  max-width:200px;
}
footer h2{
  font-size:1.2rem;
  font-weight:bold;
}
.heading-line{
  width: 200px;
  background-color: rgba(255, 255, 255, 0.368);
  height:1px;
  /* align-self: flex-start; */
}
.line{
  width: 900px;
  background-color: white;
  height:1px;
}
/* .line p{
  text-align: center;
  border-top: 1px solid #2c3e50;
  padding-top: 20px;
  font-size: 14px;
} */
